*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
  /*font-family: "Epunda Sans", sans-serif;*/
  font-family: 'Poppins', sans-serif;
  
}
/*HEADER**/
.page{
    background-color: rgb(117, 117, 157);
}


header{
    text-align: center;
   
}

nav ul {
    list-style: none;
    display: flex;
    margin: 10px;
    
    
}
ul{
  list-style: none;
  
}
ul a{
    font-weight: 700;
    color:rgb(6, 6, 6);
    font-size: 19px;
    margin-right: 20px;
    font-size: 18px;
}

h3{
    font-weight: 400;
}
a{
    text-decoration: none;
    color: black;
}

.page{
    width:100%;
    /*border:3px solid black;*/
    justify-self: center;
}

h4{
    font-weight: 400;
    color: gray;
}
h2{
    font-weight: 400;
}

h3{
    margin: 10px;
}

.head{
    background-color: white;
    margin: 0;
    text-align: center;
}
h3 {
    font-family: "Sofia", sans-serif;
} 






@media(max-width:1124px)
{
    /*.project-list{
        flex-direction: column;
    }
    .pro{
        margin-top: 15px;
    }
    .about-content{
        flex-direction: row;
    }*/
    .project-list{
        height: 100vh;
    }
    .pro h2{
        font-size: 16px;
    }
    .pro{
        width:25%;
        height: 700px;
        font-size: 16px;
       /* overflow: scroll;*/


    }
    .pro p{
        padding: 0;
    }
    
    .about-content{
        flex-direction: column;
    }
    .about-image img{
        height: 100px;
    }
    .about-image{
        width:100%;
    }
}
@media (max-width:700px){
    
    nav ul li a{
        font-size: 16px;
        margin-right: 5px;
    }
    .project-list{
        width: 100%;
    }
    .pro{
        height:auto;
        font-size: 16px;
        width: 100%;
    }
   
    .boxes{
        flex-direction: column;
    }

    nav{
        width: 100%;
        height: 100%;
        flex-direction: column;
       align-items: center;
    }
    .view{
        width: 100%;
        margin-bottom: 15px;
        font-size: 14px;
    }
    
    .info h2 i{
        margin-top: 90px;
    }
    .project-list{
        flex-direction: column;
    }
    .project-list .pro{
        margin-top: 20px;
    }
    .info{
        height: auto;
    }
    .contact1{
        flex-direction: column;
    }
   
    .contact2{
        width: 100%;
    }
    .left{
        width: 100%;
    }
    .contact2 img{
        width: 100%;
    }
    .right{
        width: 100%;
    }
    form {
    display: flex;
    height: 100%;
    flex-direction: column;
    padding: 0;
    gap: 0;
    
}
    form input{
        width: 100%;
    }
    form #send{
        height: 30px;
        font-size: 16px;
        margin-top: 10px;
    }
    nav{
        height:300px;
    }
    .about-image img{
        height:100px;
    }
}



footer h4{
    color: black;
}
@keyframes light{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.07) translateX(-5px);
        
    }
    100%{
        transform: scale(1);
    }
}

/*HOME PAGE*/
nav{
    display: flex;
    justify-content: space-between;
    height:80px;
    align-items:center ;
    position: fixed;
    width:100%;
    background-color: rgba(255,255,255,0.5);
    background-color: rgba(31, 29, 29, 0.5);
    box-shadow: 2px 0 2px 2px rgb(47, 46, 46);
    z-index: 1000;
}
ul a:hover{
    color: cadetblue;
}
nav h2{
    margin-left: 10px;
}
.info{
    flex-direction: column;
    
    text-align: center;
}
.info img{
    margin-top: 90px;
    width: 50%;
    height:60%;
   align-self: center;
}
/*PROJECT SECTION*/

.projects li{
   
   background-color: rgb(200, 222, 230);
}

.projects h3{
    text-align: center;
}

.projects{
    margin-top: 50px;
}
.project-list{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    height: 100%;
}
.projects h2{
    text-align: center;
   
}
#pro-head{
     font-size: 30px;
    font-weight: 700;
    margin-top: 90px;

}

.pro{
    
    box-shadow: 1px 2px 8px 2px rgb(47, 46, 46);
    
    margin-right: 50px;
    border-radius: 9px;
    overflow: hidden;
    height: 400px;
    background-color: white;
    /*background-color:  rgb(47, 46, 46);
    color: white;
    */
}
.pro p{
    padding: 10px;
}
.pro h2{
    background-color: rgb(199, 169, 227);
   margin: 0;
   height: 130px;
   margin:10px;
   padding: 10px;
   margin-bottom: 10px;
   border-top-left-radius: 9px;
   border-top-right-radius: 9px;
}
.projects{
    padding: 0;
    height: 100vh;
    width: 100%;
}
.pro:hover{
    transform: scale(1.05);
    transition: transform 1s ease;

}
/*INFO SECTION*/

.education{
    padding: 15px;
    text-align: center;
}
.about-content{
    display: flex;
}

.info-list{
    text-align: left;
    margin-top: 20px;
}


/*INF
/*CERTIFICATE SECTION*/
#certificate{
    margin-top: 50px;
    font-weight: 700;
}
.boxes{
  
  display: flex;
  margin: 40px;
  
}
.section-title h2{
    font-weight: 700;
}

.box{
    padding: 20px;
    height: 30%;
    border-radius: 30px;
    margin: 10px;
    box-shadow: 1px 2px 2px 0px;
    margin-top: 100px;
    background-color: white;
}
.boxes{
        font-size: 16px;

    }
    .box{
        height: min-content;
    }

.box:hover{
    transform: scale(1.05);
    transition: transform 1s ease;
}

/*CONTACT-PAGE*/

.contact{
    background-color: blanchedalmond;
    padding: 30px;
    flex-wrap: wrap;
    
    height:100vh;
    
}

.contact2{
    text-align: center;
    margin-bottom: 25px;
}
.contact2 h3{
    font-weight: 900;
    font-size:40px;
}
.contact1{
    display: flex;
    
    width: 100%;
}
.right{
    height: 100%;
}

form{
     margin-top: 20px;
    display: flex;
    height: 100%;
    flex-direction: column;
   
}
form input{
    border-radius: 9px;
    height:40px;
    width:100%;
    border:none
}
#send{
    height: 40px;
    background-color:rgb(141, 141, 206);
    box-shadow: 10px 2px 10px black;
    margin-top: 10px;
   color: white;
    font-size: large;
   
}
textarea{
    width: 100%;
    height:100px;
    border: none;
   border-radius: 9px;
   margin-top: 10px;
}
form{
    text-align: left;
}

.right input{
    padding-left: 10px;
    font-size: 17px;
    color: black;
}

.btn{
    display: flex;
    background-color: black;
    width: 200px;
    height:45px;
    color: white;
    justify-content: center;
    align-items: center;
    justify-self: center;
    border-radius: 9px;
    box-shadow: 2px 2px 10px 2px white;
    animation: light 1.8s ease infinite;
}


.right {
    width: 100%;
    
}
.left{
    width:100%;
}
.left img{
    width:90%;
    height: 100%;
   
}

/*ABOUT SECTION*/
.about-content{
    color: black;
}

/*FOOTER SECTION*/

footer{
    text-align: center;
}

/*COLOR CHANGE*/
.highlight{
    color: cadetblue;
}